extends layout

block content
  .container.grey-text
  h5.center About
  p
    | Mediabetes Reminder is appication which aims to help type 2 diabetes patient with their medications by sending sms reminders.
    | The application is a two way system which connects the patients and their admin which could be there guardians, healthcare providers or caretaker.
  h7.center How it works?
  p
    | The admin will be in control of adding medications and setting reminders for the patients. The patients will receive an sms reminders with their medication detail.
    | The patients will receive a link in thier sms reminder which will direct them to the application to confirm that medication. If the patients misses their medications, both the patients and admin will receive an sms reminder.
    | The admin will also have an optional choice to add the quantity of medications and will receive a sms refill reminder when the medication stock is running low.


