extends layout

block content
  h1 Admin Register
  form(method = 'POST', action='/users/adminReg')
    #form-group
       label Name:
       input.form-control(name="name", type ='text')
    #form-group
       label Enter Phone number (Please enter the country code 44 then the phone number):
       input.form-control(name="adminNumber", type ='number')
    #form-group
       label Enter Patient Phone number (Please enter the country code 44 then the phone number):
       input.form-control(name="number", type ='number')
    #form-group
       label Username:
       input.form-control(name="username", type ='text')
    #form-group
       label Password:
       input.form-control(name="password", type ='password')
    #form-group
       label Confirm:
       input.form-control(name="password2", type ='password')
    #form-group
       label Enter the 4 digit admin Code:
       input.form-control(name="adminCode", type ='number')
    br
    input.btn.btn-primary(type='submit', value='submit')