extends layout

block content
  .container.grey-text
  h5.center Contact Us
  p
    | If you any problems with the application or wish to ask questions. Please contact me at the email address below. 
  .divider
  h6 Find me at:
  ul
    li 2gurup14@solent.ac.uk
  .divider
  h4 Contact Form
  form
    #form-group
       label Name:
       input.form-control(name="name", type ='text')
    #form-group
       label Email:
       input.form-control(name="username", type ='text')
    #form-group
       label Enter message:
       textarea#input.form-control(name="message", type ='text')
    br
    input.btn.btn-primary(type='submit', value='submit', href='/users/home')
