extends layout

block content
  .container.grey-text
  h5.center Contact Us
  p
    | If you any problems with the application or wish to ask questions. Please contact me at the email address below. 
  .divider
  h6 Find me at:
  ul
    li 2gurup14@solent.ac.uk
