extends layout

block content
  .container.grey-text
  h5.center Contact Us
  p
    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, porro voluptatum illum veniam eaque sunt sit labore provident eligendi! Voluptate amet suscipit inventore unde maxime atque impedit officia nobis laboriosam!
  .divider
  h6 Find me at:
  ul
    li 2gurup14@solent.ac.uk
