extends layout

block content 
    header#showcase
        .container.showcase-content
            h1 Welcome
            p
                | Mediabetes Reminder is a application to help type 2 diabetes patients with medication reminders,
                | Never forget your medications and live a healthy lifestyle.
            .wrapper
                a.btn.btn1(href='/users/login') Login
                a.btn.btn2(href='/users/register') Register 
