extends layout

block content 
    header#showcase
        .container.showcase-content
            h1 Welcome
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
                | quasi quam tenetur exercitationem sint suscipit ipsum in pariatur officiis mollitia!
            .wrapper
                a.btn.btn1(href='/users/login') Login
                a.btn.btn2(href='/users/register') Register 
