extends layout

block content
        h4.center About type 2 diabetes
        ul#intro.block-three
            li
                .inner
                h5.subheader What is type 2 diabetes?
                p
                    | Diabetes is a chronic medical condition in which sugar, or glucose, levels build up in your bloodstream. The hormone insulin helps move the glucose from your blood into your cells, where it’s used for energy.
                a.modal-trigger(href="#modal3") Link More
            li
                .inner
                h5.subheader Managing type 2 diabetes
                p
                    | Managing type 2 diabetes requires teamwork. You’ll need to work closely with your doctor, but a lot of the results depend on your actions. Your doctor may want to perform periodic blood tests to determine your blood glucose levels. This will help determine how well you’re managing the disease. If you take medication, these tests will help gauge how well it’s working.
                a.modal-trigger(href="#modal4") Link More
            li
                .inner
                h5.subheader Diet for type 2 diabetes
                p
                    | Diet is an important tool to keep your heart healthy and blood glucose levels within a safe and healthy range. It doesn’t have to be complicated or unpleasant.
                a.modal-trigger(href="#modal5") Link More

        #modal3.modal.modal-fixed-footer
            .modal-content
                h4 What is type 2 diabetes?
                p In type 2 diabetes, your body’s cells aren’t able to respond to insulin as well as they should. In later stages of the disease, your body may also not produce enough insulin. Uncontrolled type 2 diabetes can lead to chronically high blood glucose levels, causing several symptoms and potentially leading to serious complications.
                h5 Symptoms of type 2 diabetes
                p Type 2 diabetes can develop slowly. The symptoms may be mild and easy to dismiss at first. The early symptoms may include:

                li constant hunger
                li a lack of energy
                li fatigue
                li weight loss
                li excessive thirst
                li frequent urination
                li dry mouth
                li itchy skin
                li blurry vision
            .modal-footer
                a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Close
        
        #modal4.modal.modal-fixed-footer
            .modal-content
                h4 Managing type 2 diabetes
                p Follow these tips to help manage your diabetes:

                li Maintain a balanced diet that includes non-starchy vegetables, whole-grains fiber, lean proteins, and unsaturated fats. Avoid unhealthy fats, sugars, and simple carbohydrates.
                li Achieve and maintain a healthy weight.
                li Exercise daily.
                li Take all your medication as recommended.
                li Use a home monitoring system to test your own blood glucose levels between visits to your doctor. Your doctor will tell you how often you should do that and what your target range should be.
                p It may also be helpful to bring your family into the loop. Educate them about the warning signs of blood glucose levels that are too high or too low so that they can help in an emergency.
            .modal-footer
                a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Close

        #modal5.modal.modal-fixed-footer
            .modal-content
                h4 Diet for type 2 diabetes
                p The diet recommended for people with type 2 diabetes is the same diet just about everyone should follow. It boils down to a few key actions:

                li Eat meals and snacks on schedule.
                li Choose a variety of foods that are high in nutrients and low in empty calories.
                li Be careful not to overeat.
                li Read food labels closely.
                h5 Foods and beverages to avoid
                p There are certain foods and beverages that you should limit or avoid entirely. These include:

                li foods heavy in saturated or trans fats
                li organ meats, such as beef or liver
                li processed meats
                li shellfish
                li margarine and shortening
                li baked goods such as white bread, bagels
                li processed snacks
                li sugary drinks, including fruit juices
                li high-fat dairy products
                li pasta or white rice
                p Skipping salty foods and fried foods is also recommended. Check out this list of other foods and drinks to steer clear of if you have diabetes.
                h5 Foods to choose
                p Healthy carbohydrates can provide you with fiber. The options include:

                li whole fruits
                li non-starchy vegetables
                li legumes, such as beans
                li whole grains such as oats or quinoa
                li sweet potatoes
                p Foods with heart-healthy omega-3 fatty acids include:

                li tuna
                li sardines
                li salmon
                li mackerel
                li halibut
                li cod
                li flax seeds
                p You can get healthy monounsaturated and polyunsaturated fats from a number of foods, including:

                li oils, such as olive oil, canola oil, and peanut oil
                li nuts, such as almonds, pecans, and walnuts
                li avocados
                p Although these options for healthy fats are good for you, they’re also high in calories. Moderation is key. Opting for low-fat dairy products will also keep your fat intake under control.

            .modal-footer
                a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Close




