extends layout

block content
  h1 Register
  form(method = 'POST', action='/users/register')
    #form-group
       label Name:
       input.form-control(name="name", type ='text')
    #form-group
       label Enter Admin Phone number (Only for admins):
       input.form-control(name="number", type ='number')
    #form-group
       label Enter Patient Phone number (Only for admins):
       input.form-control(name="number", type ='number')
    #form-group
       label Username:
       input.form-control(name="username", type ='text')
    #form-group
       label Password:
       input.form-control(name="password", type ='password')
    #form-group
       label Confirm:
       input.form-control(name="password2", type ='password')
    #form-group
       label Create a 4 digit admin code (Only for patients):
       input.form-control(name="adminReq", type ='number')
    #form-group
       label Enter the 4 digit admin Code (Only for admins):
       input.form-control(name="adminCode", type ='number')
    br
    input.btn.btn-primary(type='submit', value='submit')
  
    
    