extends ../layout

block content
  if user.isAdmin
    .appointment.container.grey-text.text-darken-1
      h5.center My Reminders
    each appointment in appointments
      if appointment.confirm == false
        .card-panel.appointment.white.row
          .appointment-details
            .appointment-name Name: !{appointment.name}
            .appointment-time Time: !{moment(appointment.time).format('MMMM Do YYYY, h:mm:a')}
            if appointment.confirm == true
                .appointment-time Status: Taken
            if appointment.confirm == false
                .appointment-time Status: Not Taken
            .appointment-arrow
              a(href="/appointments/" + appointment.id + "/" + appointment.name + "/fullMed").i.material-icons arrow_forward
          .med-edit
            a(href="/appointments/" + appointment.id + "/edit").i.material-icons edit_outline 
          .med-delete
            a.modal-trigger(href="#modal1").i.material-icons delete_outline
      if appointment.confirm == true
        h6.center Click here to set reminders!
        .appointment-add
          a(href='/appointments/create').i.material-icons add_alarm
      #modal1.modal
        .modal-content
          h4 Delete Medication
          p Are you sure you want to delete this medication?
        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Cancel
          form.modal-action.waves-effect.waves-green.btn-flat(action="/appointments/" + appointment.id + "/delete",method="POST") 
            button(type='submit', data-id=appointment._id) Yes





          
        




