extends ../layout

block content
    .appointment.container.grey-text.text-darken-1
        h5.center Medications
    each appointment in appointments
        if appointment.confirm == false
            .card-panel.appointment.white.row
                img(src='/img/med.png')
                .appointment-details
                .appointment-name Name: !{appointment.name}
                .appointment-time Time:!{moment(appointment.time).format('MMMM Do YYYY, h:mm:a')}
                .appointment-arrow
                    a(href="/appointments/" + appointment.id + "/fullMed").i.material-icons arrow_forward
