extends ../layout

block content
    .medication.container.grey-text.text-darken-1
        h5.center My Medications
    each medication in medications
        .card-panel.medication.white.row
            img(src='/img/med.png')
            .medication-details
                .medication-name Name: !{medication.name}
                .medication-time Quantity: !{medication.quantity}
            if user.isAdmin
                .med-delete
                    a.modal-trigger(href="#modal1").i.material-icons delete_outline
    #modal1.modal
      .modal-content
        h4 Delete Medication
        p Are you sure you want to delete this medication?
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Cancel
        form.modal-action.waves-effect.waves-green.btn-flat(action="/medications/" + medication.id + "/viewMed" + "/delete",method="POST") 
          button(type='submit', data-id=medication._id) Yes
