extends ../layout

block content
    .medication.container.grey-text.text-darken-1
        h5.center My Medications
    each medication in medications
        .card-panel.medication.white.row
            img(src='/img/med.png')
            .medication-details
                .medication-name Name: !{medication.name}
                .medication-time Quantity: !{medication.quantity}
